.image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 4rem 2rem;
    text-align: center;
}

.user-name {
    color: #0074D9;
}

.user-title{
    font-size: 1rem;
}

.welcome-text {
    font-size: 6rem;
}

.favourite-products h2{
    margin: 2rem 0;
    text-align: center;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .main-banner{
        display: none;
    }
    .welcome-text{
        font-size: 3rem;
        margin: 3rem 0;
    }
    .main-banner-phone{
        display: block;
        height: 100vh;
    }
}

@media (min-width: 769px) {
    .main-banner{
        display: block;
    }
    .welcome-text{
        margin: 1.5rem 0;
    }
    .main-banner-phone{
        display: none;
    }
}