.not-found{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-tables{
    margin-top: 5rem;
    width: 100%;
}

.admin-pages{
    display:none;
}