.not-found{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner{
    margin-top: 3rem;
    width: 100%;
    overflow: hidden;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.admin-pages{
    display:none;
}