.cart-total-setup{
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.table-responsive{
    width: 60%;
}

.cart-item p, .cart-items-topic p{
    color: black;
}

.cart-item td{
    vertical-align: middle;
}

.cart-item img{
    width: 5rem;
    max-height: 6rem;
    margin: 2rem;
}
.total-value p{
    font-weight: bold;
    color: #0074D9;
}
