.user-cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
}

.avatar-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.user-cards .card-body{
    margin-left: 1rem;
    width: 100%;
}

.user-cards .button-group{
    display: flex;
    justify-content: space-between;
}